@using LeadersCorner.Data.Models

@model LeadersCorner.Data.Models.Comment


<div class="container-fluid mt-100">
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <div class=" card-header">
                    <div class="media flex-wrap w-100 align-items-lg-center">
                        <div class="media-body ml-3">
                            @Model.FirstName
                        </div>
                    </div>
                </div>
                <div class=" card-body">
                    @Model.CommentContent
                </div>
                @if (User.IsInRole("Administrator"))
                {
            <div>
                @if (@Model.ArticleID != 0)
                {
                    <a
                        asp-route-articleId="@Model.ArticleID"
                        asp-route-id="@Model.Id"
                        id="@Model.Id" asp-action="DeleteComment" asp-controller="Article" class="btn btn-secondary">Delete comment</a>
                     }
                else
                {
                    <p>
                        asp-route-courseId="@Model.CourseId"
                        asp-route-id="@Model.Id"
                        <a id="@Model.Id" asp-action="DeleteComment" asp-controller="Course" class="btn btn-secondary">Delete comment</a>
                    </p>
                }

            </div>
        }
            </div>
        </div>
    </div>
</div>


