@using LeadersCorner.Data.Models 

@model AllArticleQueryModel

<div class="row">
    <form method="get">
        <div class="row">
            <div class="form-group col-md-4">
                <div class="form-group">
                    <div class="dropdown">
                        <label asp-for="Category"></label>
                        <select asp-for="Category" class="form-control">

                            <option value="">All</option>
                            @foreach (var category in Model.Categories)
                            {
                        
                                <option value="@category.CategoryName">@category.CategoryLabel</option>
                                <button onclick="@category.CategoryName" class="dropbtn">@category.CategoryLabel</button>
                            }
                            <asp:DropDownList ID="DropDownList1" autopostback="true" runat="server">            </asp:DropDownList>
                        </select>

                    </div>
                    
                </div>
            </div>
    </form>
</div>




@foreach (var article in Model.Articles)
{
    <div class="col-md-4">
        <div class="card mb-3">
            <img class="card-img-top" src="@article.ImageUrl" alt="@article.Title">
            <div class="card-body text-center">
                <a asp-controller="Article" asp-action="Details" asp-route-id="@article.Id" class="btn btn-primary">View More</a>
            </div>
        </div>
    </div>

}