@using LeadersCorner.Data.Models 

@model AllArticleQueryModel

<div class="row">
    <form method="get">
        <div class="row">
            <div class="form-group col-md-4">
                <div class="form-group">
                    <label asp-for="CategoryName"></label>
                    <select asp-for="CategoryName" class="form-control">
                        <option value="">All</option>

                        @foreach (var CategoryName in Model.Categories)
                        {
                            <option value="@CategoryName">@CategoryName</option>
                        }
                    </select>
                </div>
            </div>

</form>
</div>



@foreach (var article in Model.Articles)
{
    <div class="col-md-4">
        <div class="card mb-3">
            <img class="card-img-top" src="@article.ImageUrl" alt="@article.Title">
            <div class="card-body text-center">
                <a asp-controller="Article" asp-action="Details" asp-route-id="@article.Id" class="btn btn-primary">View More</a>
            </div>
        </div>
    </div>

}