@using LeadersCorner.Common
@using LeadersCorner.Data.Models
@model LeadersCorner.Web.ViewModels.Article.CurrentArticleViewModel
@{
    this.ViewData["Title"] = "@Model.Title";
}

<article>
    <p class="h1" text-align: center>@Model.Title</p>
    <img src="@Model.ImageUrl" class="img-fluid">
    <p>@Model.ArticleContent</p>
    <partial name="_CommentPartial" />
    
</article>


<div id="CreateCommentFormModel">
    <form asp-controller="Comment" asp-action="CreateComment" method="post">
        <input type="hidden" name="ArticleId" value="@Model.Id" />
        <input type="hidden" name="UserId" value="@Model.AuthorId" />
        <div>
            <label for="CommentContent"></label>
            <textarea name="CommentContent" id="CommentContent" class="form-control"></textarea>
        </div>
        <div>
            <input type="submit" value="Add comment" class="btn btn-primary" />
        </div>
    </form>
</div>



